<navbar></navbar>

<ion-scroll scrollY="true" style="width: 100%; height: 100%; background-color: #f9fafb;">
	<ion-header>
          <ion-navbar>
	    <ion-title>Payments</ion-title>
       
            
            <div  class="nav_btn nav_btn_article">
   	         <button style="background:none; border:none; " (click)="toggleMenu()">
              	  <ion-icon name="menu" class="nav_article_menu"></ion-icon>
                </button>
	    </div>
          </ion-navbar>
	</ion-header>
		<div class="prime_wrapper">
			<div class="prime_content_single prime_content_yellow" *ngIf="nextCollection">
				<ul class="single_row">
					<li style="width:65%; font-size:15px; line-height:16px;">Next Payment Date:</li>
					<li style="width:35%; font-size:15px; line-height:16px; text-align:right;">{{nextCollection.due_date | date:longDate}}</li>
					<div class="clear"></div>
				</ul>
				<div class="yellow_br"></div>
				<ul class="single_row">
					<li style="width:65%; font-size:15px; line-height:16px;">Next Payment Amount</li>
					<li style="width:35%; font-size:15px; line-height:16px; text-align:right;">&pound;{{nextCollection.amount}}</li>
					<div class="clear"></div>
				</ul>
			</div>

			<div class="prime_content_single prime_content_red" id="total_overdue_btn" (click)="goToTotalOverdue()">
				<ul class="single_row">
					<li style="width:70%; font-size:15px; line-height:16px;">Total Overdue:</li>
					<li style="width:23%; font-size:15px; line-height:16px; text-align:center;">&pound;{{amountOverdue}}</li>
					<li style="width:7%; text-align:center;"><img style="position:relative;top:2px;" src="assets/imgs/red_arrow_right.png" alt="" title="" /></li>
					<div class="clear"></div>
				</ul>
			</div>

			<div class="mothly_payments_wrapper" style="margin-top:30px;">
				<h3>This Months Payments</h3>
				<div class="grey_br"></div>				
				<div class="mothly_payments_container">
					<table class="mothly_payments_table">
						<thead>
							<th style="width:5px;"></th>
							<th style="text-align:left;">Due Date</th>
							<th>Amount</th>
							<th>Status</th>
						</thead>
						<tbody>
                                                     <tr *ngFor="let collection of currentMonthCollections">
                                                          <td></td>
                                                          <td>{{collection.due_date | date:longDate}}</td>
                                                          <td style="text-align:center;">&pound;{{collection.amount}}</td>
                                                          <td style="text-align:center;">{{collection.status}}</td>
                                                        </tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="mothly_payments_wrapper" style="margin-top:30px;">
				<h3>Latest Payments</h3>
				<div class="grey_br"></div>				
				<div class="latest_payments_single prime_content_red" (click)="goToLatestPayments()">
					<ul class="single_row">
						<li style="width:70%; font-size:14px; line-height:16px;">March:</li>
						<li style="width:23%; font-size:13px; line-height:16px; text-align:center;">Overdue</li>
						<li style="width:7%; text-align:center;"><img style="position:relative;top:2px;" src="assets/imgs/red_arrow_right.png" alt="" title="" /></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="latest_payments_single" (click)="goToLatestPayments()" >
					<ul class="single_row">
						<li style="width:70%; font-size:14px; line-height:16px;">February:</li>
						<li style="width:23%; font-size:13px; line-height:16px; text-align:center;">Paid</li>
						<li style="width:7%; text-align:center;"><img style="position:relative;top:2px;" src="assets/imgs/black_arrow_right.png" alt="" title="" /></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="latest_payments_single" (click)="goToLatestPayments()">
					<ul class="single_row">
						<li style="width:70%; font-size:14px; line-height:16px;">January:</li>
						<li style="width:23%; font-size:13px; line-height:16px; text-align:center;">Paid</li>
						<li style="width:7%; text-align:center;"><img style="position:relative;top:2px;" src="assets/imgs/black_arrow_right.png" alt="" title="" /></li>
						<div class="clear"></div>
					</ul>
				</div>
				<a href="#" class="view_more" id="latest_payments_more_btn">View more</a>
			</div>
		<div id="footer_phone_container">
      		<img src="assets/imgs/my_phone_icon.png" alt="" title="" /><p>07557685022</p>
		</div>
	</div>
</ion-scroll>
