/* My Profile */

  .profile_placeholder{
    font-size: 13px;
    color: #6f7787;
    width:45%;
    line-height: 34px;
    font-weight: 300;
  }
  .profile_entry{
    font-size: 13px;
    color: #333a4e;
    width:55%;
    line-height: 24px;
  }
  #my_profile_display{
    width: 100%;
  }
  #my_profile_display tr{
    width: 100%;
    border-bottom: 1px solid rgba(100,100,100,0.1);
  }
  
  .profile_placeholder_edit{
    font-size: 13px;
    color: #6f7787;
    width:45%;
    line-height: 24px;
    display: block;
    font-weight: 300;
  }
  .profile_placeholder_input{
    position: relative;
    display: block;
    width: 100%;
    font-size: 13px;
    color: #333a4e;
    font-size: 13px;
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #cccccc;
    height: 25px;
    text-indent: 5px;
  }
  .personal_details_edit_single{
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .update_btn{
    position: relative;
      display: block;
      width: 91%;
      height: 45px;
      margin: 15px auto auto auto;
      border: 0px;
      border-radius: 26px;
      text-align: center;
      color: #fff;
      font-size: 17px;
      background: #ffdd00;
      background: -moz-linear-gradient(-45deg, #ffdd00 0%, #ffa200 100%);
      background: -webkit-linear-gradient(-45deg, #ffdd00 0%,#ffa200 100%);
      background: linear-gradient(135deg, #ffdd00 0%,#ffa200 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ffa200',GradientType=1 );
  }
  .update_btn:focus{
    outline: none;  
  }
  
  
  form {
    margin-top:15px;
  }
  
  .graph{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdd00+0,ffa200+100 */
    background: #ffdd00; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffdd00 0%, #ffa200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffdd00 0%,#ffa200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffdd00 0%,#ffa200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ffa200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  

  button[type="submit"] {
      margin-top:25px;
  }
  