// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/********** GLOBAL SASS VARS **********/

$sunshine-cold: #ffdd00;
$sunshine-warm: #ffa200;




/************* FONT FAMILIES **************/
@font-face {
  font-family: 'Rubik';
  font-weight:normal;  
  src: url('../assets/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/Rubik-Bold.ttf');
  font-weight:bold;
}


.ion-page > ion-content {
  background-color:#F9F9FB;
  position:relative !important;
}

ion-navbar {
  height:100%;
}

p, h1, h2, h3, h4, h5, button,tr,td,th,input,label,li {
  font-family: 'Rubik';
}

h1, h2, h3, h4, h5 {
  position:relative;

  &[underline]:after {
      $underline-width: 40px;

      content: '';
      border-bottom:2px solid $sunshine-warm; 
      display:block;
      width:$underline-width;
      position:absolute;
      text-align:center;
      left:50%;
      margin-left: -$underline-width / 2;
    }
}

a {
  color: black;
}

button {
  .button-md {
    text-transform:none;
  }
}

ion-header.header {
  text-align:center;
  color:white;
  height:71px;

  .toolbar-title-md {
    color: white;
    font-family:'Rubik';
  }

   &:after {
     content: '';
     background-image: url('../assets/imgs/sunshine_header_wave.png');
     width: 100%;
     background-position:0px 0px;
     height: 19px;
     position: absolute;
     bottom: -2px;
     left: 0px;
     z-index: 10;
     background-repeat: repeat-x;
   }
}

ion-header.header:after {
}


@mixin sunshine-gradient-cold-warm-left-right {
  background: rgba(255,221,0,1);
  background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,162,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,162,0,1)));
  background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,162,0,1) 100%);
  background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,162,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,162,0,1) 100%);
  background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,162,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ffa200', GradientType=1 );
}


.toolbar-background {
  @include sunshine-gradient-cold-warm-left-right;
}
ion-app.md{
  background-color:#f9fafb;
}

.dashboard_header_name h1{
  font-size: 24px; 
  color: #fff; 
  font-weight: 300; 
  text-align: center; 
  text-shadow: 0px 0px 5px rgba(60, 57, 5, 0.1); 
  margin-top:55px;
}
.nav_btn{
  margin-top:-4px;
}
.nav_btn_article{
  
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color:#ffffff !important;
  position: absolute;
  top: 12px;
  left: 10px;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
  color:#ffffff;
  left:6px !important;
}
.prime_content_single{
  width: 93% !important;
  padding: 15px !important;
  margin: auto auto 18px auto !important;
}
.navbar_title{
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(60, 57, 5, 0.1);
  margin-top: 55px;
}
.prime_wrapper{
  background-color: #f9fafb;
}
.toolbar-title-ios{
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(60, 57, 5, 0.1);
    line-height: 29px;
    font-family: Rubik;
}
.toolbar-ios ion-title{
  padding: 0 77px 17px;
  left:-3px;
}
  ion-header.header{
      position: relative;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #fff;
  }
  .ion-page.show-page{
    background-color: #f9fafb;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #ffffff !important;
  }
  .nav_article_menu{
    font-size:33px; 
    color:#fff;
    position:relative; 
    top:-5px;
  }
  .ion-page.show-page{
    background-color: #f9fafb;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #fff;
  }
  .mothly_payments_container{
    width:100%;
  }
  .latest_payments_single{
    width:100%;
    color:#333a4e;
  }
  .mothly_payments_wrapper h3{
    font-size: 16px;
  }
  .mothly_payments_table th{
    font-weight:400;
  }
  .ios .menu-inner{
    background:none !important;
  }
  .item-inner{
    border-bottom:0px !important;
  }
  .label-ios{
    margin: 0px;
  }
  .navigation_li_single{
    line-height: 40px;
  }
  .navigation_li_single:after{
    content: "";
    position: relative;
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
  }
  .navigation_li_single:last-child:after{
    content: "";
    display: none;
  }
  .navigation_li_single .toggle_nav_icon{   
    position: relative;
    width: 12%;
    display: inline-block;
    color: #ffffff;
    font-size: 22px;
    top: 3px;
  }
  .navigation_li_single a{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    width: 85% !important;
    display: inline-block !important;
  }
  .navigation_li_single a img{
    float: right;
    top: 17px;
    position: relative;
  }
  .ios .menu-inner{
    background:none !important;
  }
  .item-ios{
    background: none;
    border-bottom: 0px;
  }
  .item-inner{
    border-bottom:0px !important;
    height: 20px;
    margin-top:10px;
  }
  .item-block{
    min-height: 2rem;
  }
  .back-button.show-back-button{
    z-index:100;
    position: relative;
    top: -7px;
    left: -5px;
  }
  .back-button-text-ios{
    display:none;
  }
  .back-button-icon-ios{
    font-size:29px;
  }
  .item-md{
    background: none!important;
    margin-top: 15px;
  }
  .md .menu-inner{
    background: none!important;
  }
  ion-title{
      position: relative;
    left: -15px;
    top: 6px;
  }
    .dashboard_navigation_single a img,.dashboard_navigation_single_right a img{
    display:inline-block;
  }
  .dashboard_navigation_single a p,.dashboard_navigation_single_right a p{
    display:inline-block;
  }
  .single_row li{
    font-size:14px; 
    line-height:16px;
  }
  .dashboard_progress_container{
    position:relative; margin-top:7px;
  }
  .dashboard_progress_container_single{
    position:relative; 
    float:left; 
    margin-right:20px;
  }
  .dashboard_progress_container_single div{
    -webkit-border-radius:2px; 
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    width:30px; 
    height:15px; 
    margin-right:3px; 
    float:left;
  }
  .dashboard_progress_container_single p{
    line-height:18px; 
    float:left; 
    font-size:12px; 
    color:#333a4e;
  }
  .label-md{
    display: block;
    position: relative;
    color: #2F3A4D !important;
    font-size: 13px;
    margin-bottom: 5px;
    max-width: none;
    font-family: Rubik;


  }
  .input-md{
    margin: 13px 8px;
      padding: 0;
      width: 100%;
      background-color: #ffffff;
      position: relative;
      clear: both;
      max-width:none;
    max-height:none;
  }
  .text-input-ios{
    margin: 13px 8px;
    padding: 0;
    background-color: #FaFaFa;
    position: relative;
    clear: both;
    max-width: none;
    max-height: none;
    height: 25px;
    /* -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
    text-indent: 10px;
    font-size: 13px;
    color: #3a3a3a;
    outline: 1px solid #eee;  
  }
  .text-input-ios:focus{
    background-color: #fff9d2;
    outline: 1px solid #ffdd99;
  }
  .item-block{
    min-height:29px;
  }
  .button-md{
    transition: none;
    margin-top: 25px;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    background: #ffdd00;
    background: linear-gradient(135deg, #ffdd00 0%, #ffa200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ffa200',GradientType=1 );
    border-radius: 25px;
    width: 100%;
    height: 60px;
    margin: 20px auto;
  }
  .label-ios{
    display: block;
    position: relative;
    color: #6f7787 !important;
    font-size: 13px;
    margin-bottom: 5px;
    max-width:none;
    font-family:Rubik;
  }
  .item-ios{
    padding-left:0px;
  }
  .item-ios.item-block .item-inner{
    padding-right:0px;
  }
  .button-block-ios{
    margin-top:25px;
    font-size:18px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.2);
    color:#fff;
    background: #ffdd00;
    background: linear-gradient(135deg, #ffdd00 0%, #ffa200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ffa200',GradientType=1 );    
  }
  ion-item + a{
    margin-left: 0px !important;
    color: #a5a3a3 !important;
    font-size: 12px;
    text-align: right;
    position: relative;
    display: block;
    margin-top: 5px !important;
    margin-bottom: 5px;
  }
  .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
    margin-left:22px;
  }
  .button-ios{
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
  }
  .text-input-md{
    margin: 13px 8px;
    padding: 0;
    background-color: #FaFaFa;
    position: relative;
    clear: both;
    max-width: none;
    max-height: none;
    height: 25px;
    /* -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
    text-indent: 10px;
    font-size: 13px;
    color: #3a3a3a;
    outline: 1px solid #eee;
    width:100%; 
  }
  .item-md.item-block .item-inner{
    padding-right:0px;
  }
  .item-input ion-input, .item-input ion-textarea{
    margin-right:0px;
  }
